version: '3.3'
services:

  foodgram-db:
    image: postgres:13.0-alpine
    volumes:
      - data_value:/var/lib/postgresql/data/
    env_file:
      - .env

  backend:
    image: blackstalker13/foodgram_backend:latest
    restart: always
    volumes:
     - static_value:/app/static/
     - media_value:/app/media/
    depends_on:
     - foodgram-db
    env_file:
     - .env

  frontend:
    image: blackstalker13/foodgram_frontend:latest
    volumes:
      - ../frontend/:/app/result_build/
    depends_on:
      - backend

  nginx:
    image: nginx:1.21.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    env_file:
      - ./.env
    depends_on:
      - backend
      - frontend

volumes:
  data_value:
  static_value:
  media_value: